.container {
  padding: 0 1rem;
}

.main {
  min-height: 100vh;
  padding: 2rem 6rem;
  flex: 1;
  display: flex;

  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
